.navigation{
    width:100%;
    position:fixed;
    height:80px;
    background-color:$color-yellow;
    display:flex;
    align-items:center;
    justify-content:space-between;
    z-index:99;

    &__links{
        margin-left:50px;
        
        a{
            background-color:$color-white;
            padding:10px;
            border-radius:5px;
            border: 2px $color-white solid;
            transition: all .2s ease-in-out;

            &:hover {
                background-color: transparent;
                color: $color-white;
            }
        }
    }

    &__buttons{
        margin-right:50px;

        
    }
}