.productSection {

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    height: 80%;

    &__image {
        cursor: pointer;
        transition: all .2s ease-in-out;

        margin-bottom: 50px;

        &:hover {
            transform: scale(1.2);
        }
    }

    &__paragraph {
        width: 75%;
        
    }

}