// GERMANY COLORS
$color-white: #ffffff;
$color-black: #000000;
$color-yellow: #fcba04;
$color-light-red: #a50104;
$color-dark-red-01: #590004;
$color-dark-red-02: #250001;

// FONTS
$font-garamond: "EB Garamond", serif;
$font-rubik: "Rubik", sans-serif;
